* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* classes gerais */
.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 40px;
}

/* --------------------- */
.container-cabecalho {
    text-align: center;
    padding: 20px;
    background-color: #000000;
}

.container-cabecalho h3 {
    
    font-weight: 600;
    font-size: 2em;
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(168, 17, 17);
}

/* --------------------- */
.container-navegacao {
    text-align: center;
    padding: 20px;
    background-color:  #222222;
}

.container-navegacao a {
    font-size: 1.Sem;
    margin: 0px 50px;
    text-decoration: none;
    color: #9c9c9c;
}

.container-navegacao a:hover {
    color: #ffffff;
}

/* --------------------- */
.container-titulos {
    background-color: #000000;
    overflow: auto;
}

.container-titulos .competicoes {
    float: center;
    margin: 60px auto;
    background-color: #000000;
    width: 50%;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #ffffff;
}
.container-titulos .competicoes .icone {
    margin-bottom: 15px;
}

.container-titulos .competicoes-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1.2em;
    color: #ffffff;
}

.container-titulos .competicoes-texto-realce {
    color: rgb(224, 41, 41);
    font-weight: bold;
}

/* --------------------- */
.container-elencos-sobre {
    background-color: #222222;
    padding: 50px;
    text-align: center;
    height: 200px;
}

.container-elencos-sobre .botoes-elencos-sobre {
    padding: 30px;
    text-align: center;
}

.botoes-elencos-sobre a {
    display: block;
    max-width: 200px;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #000000;
    color: white;
    padding: 20px 60px;
    margin: 10px auto;
    border-radius: 10px;
}

.botoes-elencos-sobre a:hover {
    background-color: white;
    color: black;
}

/* --------------------- */

.container-times {
    background-color: #000000;
    overflow: auto;
}

.container-times h3{
    margin-top: 40px;
    text-align: center;

}

.container-times .elencos {
    float: center;
    margin: 60px auto;
    background-color: #000000;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #ffffff;
    margin-top: 10px;
}
.container-times .elencos .icone {
    margin-bottom: 15px;
}

.container-times .elencos-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1.2em;
    color: #ffffff;
}

.container-times .elencos-texto-realce {
    color: rgb(224, 41, 41);
    font-weight: bold;
}
/* --------------------- */

.container-sobre {
    background-color: #000000;
    overflow: auto;  
}

.container-sobre .historia{
    float: center;
    margin: 60px auto;
    background-color: #000000;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    text-align: start;
    margin-top: 10px;
    border: 1px solid #ffffff;
}


.container-sobre h3{
    margin-top: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 2em;

}

.container-sobre .icone{
    vertical-align: middle;
}

.container-sobre .sobre-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1em;
    color: #ffffff;
    text-align: start;
}

.container-sobre .hino-texto {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}
    
.container-sobre .botao-hino{
    padding: 20px;
    text-align: center;
}


footer {
    text-align: center;
    padding: 80px;
    background-color: #000000;
    color: gray;
}

